
           <ion-item class="fondo">
                        <ion-label>Materia</ion-label>
                        <ion-select [(ngModel)]="materiaSelect" (ngModelChange)="seleccionarMateria($event)" >
                          <ion-option *ngFor="let materia of listadoMaterias; let i = index">
                             {{ materia }}
                          </ion-option>
                        </ion-select>
            </ion-item>

      <ion-list *ngIf="listadoAlumnos!=undefined">
        <ion-item *ngIf="materiaSelect">
            <ion-title>Alumnos en: {{materiaSelect}}</ion-title>
        </ion-item>
        <ion-item class="fondo" *ngFor="let alumno of listadoAlumnos">
          <h2 float-left>{{alumno}}</h2>
          <h2 float-right (click)="verAsistencias(alumno)">Ver asistencias</h2>
        </ion-item>

      </ion-list>

          
          
          <!-- Guardar Info en el celu 


  <p> Nombre del archivo: </p>
  <input type="text" class="input" [(ngModel)]="fileName" #ctl="ngModel"  ><br>


  <p> File Content </p>
  <ion-textarea placeholder="Ingrese File Content" class="input" [(ngModel)]="fileContent" ></ion-textarea>

  <p> Nombre del directorio: </p>
  <input type="text" class="input" [(ngModel)]="dirName"  ><br>

  <button ion-button (click)="writeToFile(fileName,fileContent,dirName)"> Guardar archivo </button>

          -->


