
    <ion-item class="fondo">

        <p> <img (click)="addNuevoAlumno()" src="assets/imgs/add.png" width="40" height="40" align="left">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <img (click)="playAsistencia()" src="assets/icon/videoplayer.jpg" width="40" height="40">
             <!--button ion-button (click)="playAsistencia()">play</button-->
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img (click)=tomarAsistencia() src="assets/icon/asistencia.png" width="40" height="40" >
            <img (click)=cargarArchivos() src="assets/imgs/excel.png" width="40" height="40" align="right">
        </p>

    </ion-item>
    
    <!--video webkit-playsinline="true" class="videoLandscape" #trimVideo [src]="url_asistencia"></video-->
    <img [src]="evidencia" *ngIf="evidencia!=undefined && evidencia!=''" width="40" height=40>

    <ion-item class="fondo">
        <button ion-button (click)="playAsistencia()">play</button>
        <ion-label>Elegir profesor día actual: {{dia}}</ion-label>
        <ion-select [(ngModel)]="profesorSelect" (ngModelChange)="seleccionarProfesor($event)" >
          <ion-option *ngFor="let profesor of listadoProfesores">
             {{ profesor | uppercase}}
          </ion-option>
        </ion-select>
    </ion-item>


    <img src="assets/imgs/Linea.png" width="40" height="10">

    <ion-list>
      <ion-item class="fondo" *ngFor="let alumno of listado">

          <ion-avatar item-start *ngFor="let fotoo of alumno['fotos']">
            <img *ngIf="fotoo.activa" [src]="fotoo.foto">

          </ion-avatar>
          <div float-left (click)="abrirModalView(alumno)" >
            <h2>{{ alumno['nombre']}}</h2>
            <p>Legajo: {{ alumno['legajo']}}</p>
          </div>
       
      </ion-item>

    </ion-list>
