page-configu {
    .fondoProfesional {

        background-color: $background-Profesional;
        
        }    
     
    .fondoArgentina {
         
        background-color: $background-Argentina;

        }
     
    .fondoNaif {
    
        background-color: $background-Naif;
    
        }
     
    .botonProfesional {
     
         background-color: $button-Profesional;
         font-family: $font-family-Profesional;
         font-size: 20px;
         position:absolute;
         width: $button-Profesional-width;
         height: $button-Profesional-height;
         top:$button-Profesional-top;
         left:$button-Profesional-left;
  
        }
        .botonGrande {
            height: $button-Grande-height;
        }
        .botonMediano {
            height: $button-Mediano-height;
        }
        
        .botonPequeño {
            height: $button-Pequeño-height;
        }   

           
         
    .botonArgentina {
         background-color: $button-Argentina;
         font-family: $font-family-Argentina;
         font-size: 30px;
         position:absolute;
         width: $button-Argentina-width;
         height: $button-Argentina-height;
         top:$button-Argentina-top;
         left:$button-Argentina-left;      
         border-radius: 90px 90px 90px 90px;
        }
        .botonGrande {
            height: $button-Grande-height;
        }
        .botonMediano {
            height: $button-Mediano-height;
        }
        
        .botonPequeño {
            height: $button-Pequeño-height;
        }   
    
     
    .botonNaif {
         background-color: $button-Naif;
         font-family: $font-family-Naif;
         font-size: 15px;
         position:absolute;
         width: $button-Naif-width;
         height: $button-Naif-height;
         top:$button-Naif-top;
         left:$button-Naif-left;
         border-radius: 20px;
        }
        .botonGrande {
            height: $button-Grande-height;
        }
        .botonMediano {
            height: $button-Mediano-height;
        }
        
        .botonPequeño {
            height: $button-Pequeño-height;
        }   
    
     
        
    .botongrilla {
     
         background-color: lightgreen;
         color: #E83714;
     
        }
     
    .pie {
         background-color: lightgreen;
        }
     
    .tituloProfesional {
     
         background-color: $titulo-Profesional;
         position: absolute;
         top: 0;
         left: 0;
         padding: 0 90px 1px;
         width: 100%;
         height: 100%;
         text-align: center;
         font-family: $font-family-Profesional;
         font-size: $font-size-Profesional;
        }
    .tituloProfesional1 {
     
            background-color: $titulo-Profesional;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 90px 1px;
            width: 100%;
            height: 100%;
            text-align: center;
            font-family: $font-family-Profesional;
            font-size: $font-size-Profesional;
           }
     
    .tituloArgentina {
         
             background-color: $titulo-Argentina;
             position: absolute;
             top: 0;
             left: 0;
             padding: 0 90px 1px;
             width: 100%;
             height: 100%;
             text-align: center;
             font-family: $font-family-Argentina;
             font-size: $font-size-Argentina;
            }
    .tituloArgentina1 {
         
                background-color: $titulo-Argentina;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 90px 1px;
                width: 100%;
                height: 100%;
                text-align: center;
                font-family: $font-family-Argentina;
                font-size: $font-size-Argentina;
               }
     
    .tituloNaif {
             
                 background-color: $titulo-Naif;
                 position: absolute;
                 top: 0;
                 left: 0;
                 padding: 0 90px 1px;
                 width: 100%;
                 height: 100%;
                 text-align: center;
                 font-family: $font-family-Naif;
                 font-size: $font-size-Naif;
                }
    .tituloNaif1 {
             
                    background-color: $titulo-Naif;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 0 90px 1px;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-family: $font-family-Naif;
                    font-size: $font-size-Naif;
                   }

}
