
<ion-header>

    <button ion-button round icon-only (click)="salir()">
        <ion-icon name="md-arrow-back"></ion-icon>
    </button>

    <button class="imagen" ion-button round icon-only (click)="conf()">
      <ion-icon name="md-cog"></ion-icon>
    </button>
    
    
    
  <ion-toolbar >
    <ion-segment class="{{titulo}}" name="segment" class="fondoSegment" [(ngModel)]="segmentAlumno" color="secondary" (ionChange)="segmentChanged($event)">
      
      <ion-segment-button value="tutorial">
        <img src="assets/icon/tutorialIcon.png" width="40" height="40">
      </ion-segment-button>

      
      <ion-segment-button value="qr">
        <img src="assets/imgs/qr.png" width="40" height="40">
      </ion-segment-button>

      <ion-segment-button value="perfil">
        <img src="assets/imgs/perfil.jpg" width="40" height="40">
      </ion-segment-button>

      <ion-segment-button value="archAlumnos">
        <img src="assets/imgs/archAlumnos.png" width="40" height="40">
      </ion-segment-button>
        <ion-segment-button value="abmProfesores" >
          <img  *ngIf="perfil=='administrador' || perfil=='administrativo'"  src="assets/imgs/abm_profesores.jpeg" width="40" height="40">
        </ion-segment-button>

        <ion-segment-button value="abmAlumnos" >
          <img  *ngIf="perfil=='administrativo'" src="assets/imgs/abm_alumnos.jpg" width="40" height="40">
        </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content class="{{fondo}}" padding>


<div [ngSwitch]="segmentAlumno"   >

      <tutorial [perfil]="perfil" *ngSwitchCase="'tutorial'"></tutorial>

      <lector-qr [perfil]="perfil" *ngSwitchCase="'qr'"></lector-qr>

      <perfil  *ngSwitchCase="'perfil'"
                [nombre]="datos.nombre"
                [correo]="datos.correo"
                [perfil]="datos.perfil"
                [isLoginSocial]="datos.loginSocial"
      ></perfil>

      <files *ngSwitchCase="'archAlumnos'"></files>

    <div *ngIf="perfil=='administrador'  || perfil=='administrativo'">
      <lista-profesores *ngSwitchCase="'abmProfesores'"></lista-profesores>
    </div >

    <div *ngIf="perfil=='administrativo'">
      <lista-alumnos [perfil]="datos.perfil" *ngSwitchCase="'abmAlumnos'"
                     [correo]="datos.correo"
                     [nombre]="datos.nombre"
      ></lista-alumnos>
    </div >



</div>


</ion-content>


